asgiref==3.4.1
astroid==2.3.2
beautifulsoup4==4.10.0
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///C:/ci/cffi_1636542074879/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama==0.4.1
conda==4.10.3
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262320430/work
cryptography @ file:///C:/ci/cryptography_1635348572149/work
Django==3.1.7
django-bootstrap4==2.3.1
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
menuinst==1.4.16
numpy==1.21.2
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pylint==2.4.3
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytz==2021.3
pywin32==228
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016967756/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.3.1
sqlparse==0.4.2
tqdm @ file:///tmp/build/80754af9/tqdm_1635330843403/work
urllib3==1.26.7
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
